{% extends 'base.html' %}
{%block main%}


<div class="bg-black">
  {% include 'client/navbar/header.html' %}
  <div class="grid lg:grid-cols-2">
    <div  class=" bg-cover bg-center sm:h-screen scale-mobile" style=" background-image: url('{{db.imgCover}}');"></div>
    <div class="grid place-content-center">
      <div class="container flex flex-col justify-start gap-2 p-4 text-white">
        <div class="h-0.5 w-48 rounded border-0 bg-gray-100 dark:bg-gray-700"></div>
        <h1 class="font-bold" style="font-size:45px">{{db.nameManga}}</h1>
        <div class="h-0.5 w-48 rounded border-0 bg-gray-100 dark:bg-gray-700"></div>
        <h2 class="">Tên khác: {{db.otherName}}</h2>
        <h1 class="">Tác giả: {{db.author}}</h1>
        <h1 class="">Ngày đăng: {{db.updateAt}}</h1>
        {%set tag = db.tags %}
        {%set tagString = ", ".join(tag) %}
        <h1 class="">Thể loại: {{tagString}} </h1>
        <h1 class="">Mô tả: {{db.description}}</h1>
        <div class="pt-5">
        
          <a href="{{url_for('client.chapterManga', url = db.keyName.lower().replace(' ','-'), urlChapter = indexFirst) }}">
            <div class="grid h-14 w-24 place-content-center bg-white text-black duration-700 hover:bg-[#494949] hover:text-white">
             
                <p class="font-light ">Đọc ngay</p>          

            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <a href="{{urlMovie}}">
    <img class=" h-full w-full pt-4" src="{{url_for('static', filename='assets/yuru-camp-movie-ad.jpg')}}">
  </a>
 
  <div class="container mx-auto p-4" style="padding:1.98em">
    <div class="border text-white">
      <h1 class="p-6 text-2xl">Chapter</h1>
      <div class=" grid grid-cols-1 gap-4 p-6 lg:grid-cols-6 place-items-center md:grid-cols-4  ">
        {%for item in dbChapter%}
        <a href="{{url_for('client.chapterManga',url = db.keyName.lower().replace(' ','-'), urlChapter = item.lower().replace('chap ','') )}}">
          <button class="h-20 bg-white text-black hover:bg-[#494949] hover:text-white duration-500" >
            <p class="text-lg">{{item}}</p>
            <p class="p-1 italic">Ngày đăng: ##/##/####</p>
          </button>
      </a>
        {%endfor%}
      </div>
    </div>
  </div>
  {% include 'client/navbar/footer.html'%}
</div>

{%endblock%}