{% extends 'base.html'%}
{% block main %}



<div class="bg-about-mobile lg:bg-about-pc grid bg-cover bg-no-repeat">
  {% include 'client/navbar/header.html'%}
  <div class="grid h-screen p-4 text-white lg:grid-cols-2">
    <div class="flex w-auto flex-col justify-center">
      <h1 class="text-2xl" style="font-weight:800">ABOUT</h1>
      <p class="">Otakime là một nhóm dịch manga, thực hiện những dự án manga mới hoặc trao đổi. Khởi đầu từ một thành
        viên với dự án nối Fudatsuki no Kyoko-chan vào năm 2019, Otakime tiếp tục phát triển nhằm mang đến chất lượng
        sản phẩm dịch và chế bản đạt tiêu chuẩn cho người đọc, đóng góp vào sự phát triển tích cực của cộng đồng
        "scanlation" nói riêng và văn hóa Nhật nói chung.</p>
      <h1 class="text-2xl" style="font-weight:800">THÀNH VIÊN OTAKIME</h1>
      <p class="">Các thành viên của Otakime là những người có niềm đam mê đặc biệt cho manga, với mong muốn được thử
        sức trong các vị trí chế bản truyện tranh. Môi trường làm việc tại Otakime vô cùng thoải mái:</p>
      <ul class="list-disc pl-5">
        <li>Deadline dài hạn, không quá áp lực hay dồn dập.</li>
        <li>Nhiều sự trợ giúp phát triển khả năng làm việc từ những thành viên khác.</li>
        <li>Tham gia những trò chơi chưa từng có trong nội bộ.</li>
        <li>Tổ chức sinh nhật riêng cho thành viên.</li>
      </ul>
      <p>Nếu bạn muốn thử sức với công việc dịch/chế bản manga, bạn có thể ứng tuyển
        <a target="_blank" href="https://tinyurl.com/dangki-otakime">



          <button data-tooltip-target="tooltip-top" type="button">
            <span class="underline underline-offset-4 italic">
              tại đây</span>.</button>
          <div id="tooltip-top" role="tooltip"
            class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 shadow-sm opacity-0 tooltip">
            Ứng tuyển ngay và luôn!
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </a>
      </p>
    </div>
    <div class=""></div>
  </div>
</div>






{%endblock%}