{% extends 'base.html'%}
{%block main%}
{% include 'client/navbar/header.html'%}
<div class="relative">

  <div class="absolute flex h-full w-full flex-col items-center justify-center gap-5 bg-gradient-to-t from-black text-white">
    <h1 class="font-semibold sm:text-4xl">Chào mừng bạn tới OTAKIME</h1>
    <div class="flex flex-row">
      <p class="pr-3 sm:text-2xl">Ở đây chúng tôi chiếu phim !</p>
      <div class="h-6 w-6 animate-bounce rounded-xl bg-white " style="padding-left: 6.5px;"><i class="fa-solid fa-arrow-down" style="color:black"></i></div>
    </div>
  </div>
  <video   muted  loop autoplay ><source src="https://firebasestorage.googleapis.com/v0/b/otakime-dc208.appspot.com/o/logo%2FSlide.webm?alt=media&token=3784ca07-8066-4e5f-9f0e-4eec4081d76f" type="video/webm"></video>
</div>

<div class="bg-black text-white">
    <div class="container mx-auto flex flex-col gap-28 p-4">
      <div class="flex gap-5 flex-col sm:gap-10  p-8 duration-300 hover:border-2 rounded-xl md:p-4  sm:flex-row">
        <img class="w-96" src="{{db.imgMain}}" />
        <div class="flex flex-col gap-5 sm:gap-2">
          <div class="h-0.5 w-48 rounded border-0 bg-gray-100 dark:bg-gray-700"></div>
          <h1 class="text-4xl font-semibold">{{db.nameMovie}}</h1>
          <div class="h-0.5 w-48 rounded border-0 bg-gray-100 dark:bg-gray-700"></div>
          <h1 class="text-lg "><span class="font-semibold">Đạo diễn:</span> {{db.director}}</h1>
          <h1 class="text-lg"><span class="font-semibold">Diễn viên:</span> {{db.stars}}</h1>
          <h1 class="text-lg"><span class="font-semibold">Studio:</span> {{db.studio}}</h1>
          <h1 class="text-lg"><span class="font-semibold">Biên kịch:</span> {{db.writer}}</h1>
          <h1 class="text-lg"><span class="font-semibold">Tên khác:</span> {{db.otherName}}</h1>
          <h1 class="text-lg"><span class="font-semibold">Mô tả:</span> {{db.description}}</h1>
          <a href="{{db.src}}">
            <div class="grid h-14 w-24 place-content-center bg-white text-black duration-700 hover:bg-[#494949] hover:text-white">
              <p class="font-light">Xem ngay</p>
            </div>
          </a>
          

        </div>
      </div>
    </div>
  </div>
  
{%endblock%}