{%extends 'base.html'%}
{% block main%}
<div class="grid place-content-center h-screen  ">
    <div class="shadow-xl hover:shadow-2xl shadow-slate-600">

        <iframe style="  
        position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;" src="{{db.src}}"  allowfullscreen
            allowtransparency allow="autoplay" scrolling="no" frameborder="0"></iframe>

    </div>
</div>
{%endblock%}