{% extends 'base.html'%}
{% block main%}
<div class="bg-black text-center text-xl text-white lg:text-2xl">Chào mừng bạn tới Otakime</div>
<div class="relative grid grid-cols-1 place-content-center gap-7 bg-black p-4 text-white sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  {% for key, value in db.items()%}
    <div class="relative group " style="width:400; height:900">
      <div class="flex flex-col justify-end absolute w-full h-full text-white gap-8 hover:bg-gradient-to-t hover:from-black">

        <div class="invisible group-hover:visible pl-4 text-3xl font-extrabold stroke-black stroke-2"><a href="{{url_for('client.detailManga', url= value.keyName.lower().replace(' ','-'))}}">{{value.nameManga}}</a></div>
        <div class="invisible group-hover:visible pl-4 font-light italic text-lg pb-6">{{value.tags}}</div>

      </div>
      <img src="{{value.imgMain}}" />
      
    </div>
  {%endfor%}
  
</div>
<!-- 
{% include 'client/navbar/footer.html'%}
-->
{%endblock%}