@tailwind base;
@tailwind components;
@tailwind utilities;
/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-inline-end: 8px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}

.ant-card-body .card-chapter {
  width: 100%;
}

.ant-image-error {
  width: 100%;
}

.carousel * {
  width: 100%;
}
/* .ant-skeleton {
  width: 100%;
}

.ant-skeleton-image {
  width: 100%;
} */
.ant-skeleton-input {
  width: 100% !important;
  height: 55px !important;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-skeleton.ant-skeleton-element {
  width: 100%;
}
