{% extends 'base.html'%}
{% block main%}
<div class="flex md:flex-row flex-col items-start justify-center px-6 py-8 w-full">


    <button class="focus:underline focus:text-gray-600 hover:text-gray-600 focus:outline-none text-gray-800 cursor-pointer text-xs sm:ml-10 md:hidden" onclick="showPopover()">Popover</button>
    <button class="focus:underline focus:text-gray-600 hover:text-gray-600 focus:outline-none text-gray-800 cursor-pointer mt-16 hidden md:block" onclick="showPopover()">Popover</button>
    <!-- Code block starts -->
    <div id="popover" class="transition duration-150 ease-in-out md:mt-0 mt-8 top-0 left-0 sm:ml-10 md:ml-10 w-10/12 md:w-1/2">
        <div class="w-full bg-white rounded shadow-2xl">
            <div class="relative rounded-t bg-gray-200 py-4 px-4 xl:px-8">
                <svg class="absolute left-0 bottom-0 -ml-5 -mb-10 hidden md:block" width="30px" height="30px" viewBox="0 0 9 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Tooltips-" transform="translate(-874.000000, -1029.000000)" fill="#FFFFFF">
                      <g id="Group-3-Copy-16" transform="translate(850.000000, 975.000000)">
                        <g id="Group-2" transform="translate(24.000000, 0.000000)">
                          <polygon id="Triangle" transform="translate(4.500000, 62.000000) rotate(-90.000000) translate(-4.500000, -62.000000) " points="4.5 57.5 12.5 66.5 -3.5 66.5"></polygon>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <svg class="absolute top-0 -mt-5 block md:hidden" xmlns="http://www.w3.org/2000/svg" width="26" height="23" viewBox="0 0 26 23" fill="none">
                  <path id="Polygon 2" d="M13 0L25.9904 22.5H0.00961876L13 0Z" fill="#e5e7eb" />
                </svg>
                
              </div>
            <div class="relative bg-gray-200 rounded-t py-4 px-4 xl:px-8">
                
            </div>
            <div class="w-full h-full px-4 xl:px-8 pt-3 pb-5">
                
            </div>
        </div>
    </div>
    <!-- Code block ends -->
</div>

<script>function showPopover() {
document.getElementById("popover").classList.toggle("opacity-0");
}
</script>
{% endblock%}